@{
    ViewBag.Title = "Index";
    Layout = "../Shared/_Layout.cshtml";
}

<link href="@Url.Content("~/Content/landing_main.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/global.css")" rel="stylesheet" type="text/css" />

<link href='http://fonts.googleapis.com/css?family=Chicle' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Happy+Monkey' rel='stylesheet'
    type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope' rel='stylesheet'
    type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Just+Me+Again+Down+Here' rel='stylesheet'
    type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Short+Stack' rel='stylesheet'
    type='text/css'>

    <img src="../../Content/woodfloor.jpg" style="width:100%; height: 100%; position:absolute;z-index:-1;margin-top:-16px;"/>
    <div class="container_960">
        <div class="discovery rnd-6" style="">
            <div class="left-part hero-message-con" style="">
                <div class="hero-message-wrapper">
                    ev işlerinizi yaptırmanın
                </div>
                <div class="hero-message-wrapper">
                    <font class="hero-font"">en kolay</font>yolu
                </div>
                <div class="hero-message-wrapper" style="margin-top: 40px;">
                    <a style="float: left;margin-left: 0px;" class="button request-service" href="">Şimdi Deneyin</a>
                </div>
            </div>
            <div class="right-part" id="slide-show" style="margin-right: 64px;width: 400px; padding: 40px 0px 20px 0px; position: relative;">
                <div id="slides" class="rnd-6" style="width: 400px; padding:10px;">
				    <div class="slides_container">
                        <img src="http://placekitten.com/400/250" width="400" height="250"/>
                        <img src="http://placehold.it/400x250" />
                        <img src="http://flickholdr.com/400/250" />
                        <img src="http://placehold.it/400x250" />
                        <img src="http://flickholdr.com/400/250" />
				    </div>
			    </div>
            </div>

            <br style="clear:both" />
        </div>
    </div>

    <div class="container_960" style="margin-top: 20px;">
        <div class="discovery">
            <div class="left-part col_280 rnd-4 shadow-s">
                <div style="height:100px">
                </div>
            </div>
            <div class="left-part col_280 rnd-4 shadow-s">
            
            </div>
            <div class="left-part col_280 rnd-4 shadow-s">
            
            </div>
        </div>
    </div>
 

<script>
    $(function () {
        $('#slides').slides({
            preload: true,
            preloadImage: 'img/loading.gif',
            play: 2000,
            pause: 2500,
            hoverPause: true,
            generateNextPrev: false,
            next: 'next-bt'
        });

        $(".slides_container").width(400);
    });
</script>
